<h1> Hola {{ dataresultats.nom }} </h1>
<p> <b>Puntuació obtinguda pel rol de coordinador:</b> {{ dataresultats.results.0 }}</p>
<p><b>Puntuació obtinguda pel rol d'assegurador:</b> {{ dataresultats.results.1 }}</p>
<p><b>Puntuació obtinguda pel rol de tècnic: </b>{{ dataresultats.results.2 }}</p>
<p><b>Puntuació obtinguda pel rol de secretari: </b>{{ dataresultats.results.3 }}</p>
<hr>
<p style="text-align:center"> Rol assignat: </p>
<h1 style="text-align:center"> {{ dataresultats.rol }} </h1>
<p style="text-align:center"> {{ dataresultats.roldesc }} </p>
<hr>
